<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the ProVANT simulator project.
Licensed under the terms of the MIT open source license. More details at
https://github.com/Guiraffo/ProVANT-Simulator/blob/master/LICENSE.md
-->
<model>
  <name>vant_2load</name>
  <version>1.0</version>
  <sdf version="1.4">robot/model.sdf</sdf>
  <author>
    <name>provant</name>
    <email>provant@hotmail.com</email>
  </author>
  <description></description>
</model>