<?xml version="1.0" ?>

<model>
    <name>vant4</name>
    <version>1.0</version>
    <sdf version="1.0">robot/model.sdf</sdf>
    <author>
        <name>provant</name>
        <email>provant@ufmg.br</email>
    </author>
    <description>ProVANT UAV version 4.0 - Single Wing</description>
</model>
