<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the ProVANT simulator project.
Licensed under the terms of the MIT open source license. More details at
https: //github.com/Guiraffo/ProVANT-Simulator/blob/master/LICENSE.md
-->
<launch>
  <include file="$(find provant_gz_sphere_tests)/launch/spheres_base.launch">
    <arg name="engine" value="simbody" />
  </include>
</launch>