<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the ProVANT simulator project.
Licensed under the terms of the MIT open source license. More details at
https://github.com/Guiraffo/ProVANT-Simulator/blob/master/LICENSE.md
-->
<model>
  <name>quadcopter</name>
  <version>1.0</version>
  <sdf version="1.6">urdf/uam3axis.urdf</sdf>
  <author>
    <name>Júnio Eduardo de Morais Aquino</name>
    <email>jeduardo@ufmg.br</email>
  </author>
  <description>An aerial manipulator model composed of a quadrotor and a planar manipulator with three revolute joints.</description>
</model>