<?xml version="1.0"?>
<!--
This file is part of the ProVANT simulator project.
Licensed under the terms of the MIT open source license. More details at
https://github.com/Guiraffo/ProVANT-Simulator/blob/master/LICENSE.md
-->
<model>
  <name>flying_brick</name>
  <version>1.0</version>
  <sdf version="1.6">robot/model.sdf</sdf>
  <author>
    <name>Jonatan Mota Campos</name>
    <email>jonatan29campo@gmail.com</email>
  </author>
  <description>A model of a quadrotor UAV.</description>
</model>