<?xml version="1.0" encoding="UTF-8"?>
<config>
    <topicdata>data</topicdata>
    <TopicoStep>Step</TopicoStep>
    <Sampletime>1</Sampletime>
    <Duration>0</Duration>
    <ShutdownWhenFinished>false</ShutdownWhenFinished>
    <StartPaused>true</StartPaused>
    <Strategy>libvant5_ramc_varyinglyapunov.so</Strategy>
    <Turbulance>Von_Karman</Turbulance>
    <RefPath>ref.txt</RefPath>
    <Outputfile>out.txt</Outputfile>
    <InputPath>in.txt</InputPath>
    <ErroPath>erro.txt</ErroPath>
    <HilFlagSynchronous>false</HilFlagSynchronous>
    <HilFlagAsynchronous>false</HilFlagAsynchronous>
    <usart1></usart1>
    <usart2></usart2>
    <baudRate>50</baudRate>
    <Sensors>
        <Device>Estados</Device>
    </Sensors>
    <Actuators>
        <Device>grp2</Device>
        <Device>grp3</Device>
        <Device>grp4</Device>
        <Device>grp5</Device>
        <Device>RefRotorR2</Device>
        <Device>RefRotorL3</Device>
        <Device>RefRotorR4</Device>
        <Device>RefRotorL5</Device>
        <Device>refAileronR</Device>
        <Device>refAileronL</Device>
        <Device>refHstabR</Device>
        <Device>refHstabL</Device>
        <Device>refRudderR</Device>
        <Device>refRudderL</Device>
    </Actuators>
</config>
