<?xml version="1.0" encoding="UTF-8"?>
<config>
    <topicdata>data</topicdata>
    <TopicoStep>Step</TopicoStep>
    <Sampletime>12</Sampletime>
    <Strategy>libvant3_adaptiveMixCtrl.so</Strategy>
    <RefPath>ref.txt</RefPath>
    <Outputfile>out.txt</Outputfile>
    <InputPath>in.txt</InputPath>
    <ErroPath>erro.txt</ErroPath>
    <Outputsaturedfile>outs.txt</Outputsaturedfile>
    <Sensors>
        <Device>Estados</Device>
    </Sensors>
    <Actuators>
        <Device>ThrustR</Device>
        <Device>ThrustL</Device>
        <Device>TauR</Device>
        <Device>TauL</Device>
        <Device>Elevdef</Device>
        <Device>Ruddef</Device>
    </Actuators>
</config>
