<?xml version="1.0" encoding="UTF-8"?>
<config>
    <topicdata>data</topicdata>
    <TopicoStep>Step</TopicoStep>
    <Sampletime>12</Sampletime>
    <Duration>0</Duration>
    <ShutdownWhenFinished>false</ShutdownWhenFinished>
    <StartPaused>false</StartPaused>
    <Strategy>libvant3_adaptive_mix_ctrl.so</Strategy>
    <Turbulance></Turbulance>
    <RefPath>ref.txt</RefPath>
    <Outputfile>out.txt</Outputfile>
    <InputPath>in.txt</InputPath>
    <ErroPath>erro.txt</ErroPath>
    <HilFlagSynchronous>false</HilFlagSynchronous>
    <HilFlagAsynchronous>false</HilFlagAsynchronous>
    <usart1></usart1>
    <usart2></usart2>
    <baudRate>50</baudRate>
    <Sensors>
        <Device>Estados</Device>
    </Sensors>
    <Actuators>
        <Device>ThrustR</Device>
        <Device>ThrustL</Device>
        <Device>TauR</Device>
        <Device>TauL</Device>
        <Device>Elevdef</Device>
        <Device>Ruddef</Device>
    </Actuators>
</config>
