<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the ProVANT simulator project.
Licensed under the terms of the MIT open source license. More details at
https://github.com/Guiraffo/ProVANT-Simulator/blob/master/LICENSE.md
-->
<model>
  <name>vant_3</name>
  <version>1.0</version>
  <sdf version='1.5'>robot/model.sdf</sdf>

  <author>
    <name>provant</name>
    <email>provant@ufmg.br</email>
  </author>

  <description>
    The vant version 3.0 of the provant project 
  </description>
</model>