<?xml version="1.0" ?>
<model>
    <name>checker_ground_plane</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Júnio Eduardo de Morais Aquino</name>
        <email>jeduardo@ufmg.br</email>
    </author>
    <description>A ground plane with a blue and white checker texture.</description>
</model>
