<?xml version="1.0"?>
<!--
This file is part of the ProVANT simulator project.
Licensed under the terms of the MIT open source license. More details at
https://github.com/Guiraffo/ProVANT-Simulator/blob/master/LICENSE.md
-->
<model>
  <name>provant_alpha_quadrotor</name>
  <version>1.0</version>
  <sdf version="1.6">robot/model.sdf</sdf>
  <author>
    <name>Júnio Eduardo de Morais Aquino</name>
    <email>jeduardo@ufmg.br</email>
  </author>
  <description>Symmetric quadrotor UAV.</description>
</model>