<?xml version="1.0" encoding="UTF-8"?>
<config>
    <topicdata>data</topicdata>
    <TopicoStep>Step</TopicoStep>
    <Sampletime>3</Sampletime>
    <Strategy>liblqr_vant4.so</Strategy>
    <RefPath>ref.txt</RefPath>
    <Outputfile>out.txt</Outputfile>
    <InputPath>in.txt</InputPath>
    <ErroPath>erro.txt</ErroPath>
    <Sensors>
        <Device>Estados</Device>
    </Sensors>
    <Actuators>
        <Device>Thrustdirteste</Device>
        <Device>Thrustesqteste</Device>
        <Device>RefRotorRteste</Device>
        <Device>RefRotorLteste</Device>
    </Actuators>
</config>
