<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the ProVANT simulator project.
Licensed under the terms of the MIT open source license. More details at
https://github.com/Guiraffo/ProVANT-Simulator/blob/master/LICENSE.md
-->
<model>
  <name>robotarm</name>
  <version>1.1</version>
  <sdf version="1.7">robot/robotic_manipulator.urdf</sdf>

  <author>
    <name>Jonatan Campos</name>
    <email>jonatan29campo@gmail.com</email>
  </author>

  <description>A two joint planar robotic manipulator designed for testing purposes.</description>
</model>