<?xml version="1.0" encoding="UTF-8"?>
<config>
    <topicdata>data</topicdata>
    <TopicoStep>Step</TopicoStep>
    <Sampletime>12</Sampletime>
    <Strategy>libvant4_test.so</Strategy>
    <RefPath>ref.txt</RefPath>
    <Outputfile>out.txt</Outputfile>
    <InputPath>in.txt</InputPath>
    <ErroPath>erro.txt</ErroPath>
    <Sensors>
        <Device>vant4/sensors/estados</Device>
        <Device>vant4/sensors/rotor_R</Device>
        <Device>vant4/sensors/rotor_L</Device>
        <Device>vant4/sensors/rudder_R</Device>
        <Device>vant4/sensors/rudder_L</Device>
    </Sensors>
    <Actuators>
        <Device>vant4/actuators/thrust_R</Device>
        <Device>vant4/actuators/thrust_L</Device>
        <Device>vant4/actuators/rotor_R</Device>
        <Device>vant4/actuators/rotor_L</Device>
        <Device>vant4/actuators/rudder_R</Device>
        <Device>vant4/actuators/rudder_L</Device>
    </Actuators>
</config>
