<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the ProVANT simulator project.
Licensed under the terms of the MIT open source license. More details at
https://github.com/Guiraffo/ProVANT-Simulator/blob/master/LICENSE.md
-->
<model>
  <name>vant_5</name>
  <version>1.0</version>
  <sdf>robot/model.sdf</sdf>
  <description>ProVANT UAV model 5.</description>
</model>