<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the ProVANT simulator project.
Licensed under the terms of the MIT open source license. More details at
https: //github.com/Guiraffo/ProVANT-Simulator/blob/master/LICENSE.md
-->
<model>
  <name>vant2_franklin</name>
  <version>1.0</version>
  <sdf version="1.4">robot/model.sdf</sdf>
  <author>
    <name>provant</name>
    <email>provant@ufmg.br</email>
  </author>
  <description>Model of the UAV 2 with load used in the experiments of the article "Suspended load path tracking control using a tilt-rotor UAV based on zonotopic state estimation" the Journal of the Franklin Institute Article published by Brenner S. Rego.</description>
</model>
