<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the ProVANT simulator project.
Licensed under the terms of the MIT open source license. More details at
https://github.com/Guiraffo/ProVANT-Simulator/blob/master/LICENSE.md
-->
<model>
  <name>sphere</name>
  <version>1.0</version>
  <sdf>robot/model.urdf</sdf>
  <description>A model of a 1kg sphere.</description>
</model>