<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>user_camera_follower</name>
    <version>1.0</version>
    <sdf version="1.6">robot/model.sdf</sdf>
    <author>
        <name>Júnio Eduardo de Morais Aquino</name>
        <email>jeduardo@ufmg.br</email>
    </author>
    <description>A simple static model that follows the user camera.</description>
</model>
